.main-container {
    padding-bottom: 50px; 
}
.border-style-heading {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
.border-style {
    border: 3px solid black;
}
.justify-content-md-center.mt-5 {
    margin-top: 6rem !important;
}

/* calendar icon */
/* .custom-date-picker::-webkit-calendar-picker-indicator {
    filter: invert(1);
} */

.custom-date-picker::-webkit-datetime-edit-day-field,
.custom-date-picker::-webkit-datetime-edit-month-field,
.custom-date-picker::-webkit-datetime-edit-year-field {
    color: black;
}
.table-header {
    text-align: center;
}
.add-row-button {
    margin-right: 10px;
}