.admin-main-content {
  margin-top: 20px;
}

/* fixed siderbar and navabar */
.admin-sidebar {
  min-width: 267px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  /* overflow-y: auto; */
  border-right: 2px solid #ddd;
  background-color: lightcyan !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* scrollar */
.scrollable {
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.dashboard-member-page-details {
  margin-top: 55px;
  margin-left: 265px;
  padding: 1.4px;
}

/* fixed navabar */
.dashboard-member-navabar {
  padding: 0.75rem 1rem;
  position: fixed;
  top: 0;
  left: 266px;
  right: 0;
  z-index: 2;
  background-color: lightcyan !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.icon-member {
  margin-right: 0.5rem;
}

/* sidebar remove horizontal line */
.custom-list-group .list-group-item {
  border: none;
}

.navbar .nav-link.dropdown-toggle::after {
  display: none !important;
}

.admin-general-icon {
  /* background-color: #ffffff; */
  background-color: lightcyan;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sub-icon {
  background: none;
}

/* .sub-icon.list-group-item-action {
  background-color: transparent !important; 
} */

/* For mobile view */
@media (max-width: 767px) {
  .sidebar-admin {
    position: fixed;
    top: 0;
    left: -270px;
    height: calc(100% - 60px);
    width: 250px;
    background-color: white !important;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }


  .list-group {
    margin-right: 15px;
  }

  .dashboard-member-navabar {
    padding: 0.75rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .dashboard-member-page-details {
    margin-left: 0;
  }

  .sidebar-admin.active {
    left: 0;
  }

  .sidebar-toggle {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1001;
  }

  .main-dashboard-member {
    margin-top: 100px;
  }

  /* add popup madal */
  .modal-content {
    overflow: hidden;
  }

  .scrollable {
    overflow-x: auto;
    max-height: calc(100vh - 130px) !important;
  }

  /* WebKit scrollbar */
  ::-webkit-scrollbar {
    height: 5px;
  }

}

@media (max-width: 576px) {
  .welcome-username {
    font-size: small;
  }

  .logo-size .logo-container svg {
    width: 20px;
    height: 20px;
  }
}


/* popup modal  input  size*/
@media (max-width: 576px) {
  .modal-body .form-group {
    width: 100%;
  }

  .modal-body .form-control {
    width: 100%;
  }
}

/* For larger screens */
@media (min-width: 768px) {
  .sidebar-toggle {
    display: none;
  }

}

/* @media (min-width: 820px) {
  .list-group {
    margin-right: 15px;
  }
} */

/* body,
html {
  max-width: 100%;
  overflow-x: hidden;
} */

@media (max-width: 768px) {
  /* remove margin-top */
  .small-screen-table {
    margin-top: -56px;
  }

  .pagination-container {
    font-size: 10px;
  }

  .pagination-container button {
    font-size: 8px;
  }
}

/* pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */
}

.pagination-container button {
  margin: 0 10px;
}


/* table height for purcahse */
.table-height {
  height: 460px;
}

.table-height-book-details{
  height: 490px;
}

body,
html {
  max-width: 100%;
  overflow-x: hidden;
}