  /* member dashboard */
  /* fixed siderbar and navabar */
  .member-sidebar {
      min-width: 266px;
      max-width: 250px;
      height: 100vh;
      position: fixed;
      overflow-y: auto;
      border-right: 1px solid #ddd;
      background-color: #f27e00 !important;
  }

  .dashboard-member-page-details {
      width: 100%;
      margin-top: 55px;
      margin-left: 265px;
      padding: 1.4px;
  }


  /* fixed navabar */
  .dashboard-member-navabar {
      padding: 0.75rem 1rem;
      position: fixed;
      top: 0;
      left: 266px;
      right: 0;
      z-index: 2;
  }



  .icon-member {
      margin-right: 0.5rem;
  }

  /* //sidebar remove horizontal line */
  .custom-list-group .list-group-item {
      border: none;
  }



  .main-member-content {
      padding: 1rem;
  }

  .navbar .nav-link.dropdown-toggle::after {
      display: none !important;
  }


  .admin-general-icon {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .home-icon{
    background: none;
  }