  /* fixed siderbar and navabar */
  .member-sidebar {
      min-width: 266px;
      max-width: 250px;
      height: 100vh;
      position: fixed;
      overflow-y: auto;
      border-right: 1px solid #ddd;
      background-color: #f27e00 !important;
  }

  .dashboard-member-page-details {
      /* width: 100%; */
      margin-top: 55px;
      margin-left: 265px;
      padding: 1.4px;
  }


  /* fixed navabar */
  .dashboard-member-navabar {
      padding: 0.75rem 1rem;
      position: fixed;
      top: 0;
      left: 266px;
      right: 0;
      z-index: 2;
  }



  .icon-member {
      margin-right: 0.5rem;
  }

  /* //sidebar remove horizontal line */
  .custom-list-group .list-group-item {
      border: none;
  }



  .main-member-content {
      padding: 1rem;
  }

  .navbar .nav-link.dropdown-toggle::after {
      display: none !important;
  }


  .admin-general-icon {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .home-icon {
      background: none;
  }

  /* For mobile view */
  @media (max-width: 767px) {
      .sidebar {
          position: fixed;
          top: 0;
          left: -270px;
          height: calc(100% - 60px);
          width: 250px;
          background-color: #f27e00 !important;
          transition: left 0.3s ease-in-out;
          z-index: 1000;
      }

      .dashboard-member-navabar {
          padding: 0.75rem 1rem;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          z-index: 999;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }

      .dashboard-member-page-details {
          margin-left: 0;
      }
      .sidebar.active {
          left: 0;
      }
      .sidebar-toggle {
          position: fixed;
          top: 15px;
          left: 15px;
          font-size: 1.5rem;
          cursor: pointer;
          z-index: 1001;
      }
  }


  /* For larger screens */
  @media (min-width: 768px) {
      .sidebar-toggle {
          display: none;
      }
  }

  