/* login page.css */
.icon-inside-input {
  position: relative;
}

.input-with-icon {
  padding-left: 40px;
}

.icon-position {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}

.login-form {
  margin-left: 100px;
}

.heading-login {
  color: #f27e00;
}

/* remove input border */
.form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  box-shadow: none;
}

.forgotpassword {
  color: black;
  text-decoration: none;
}

.login-submit {
  background-color: #f27e00;
}

/* our services */
.services-background {
  background-color: #fbe7cf;
}

.large-icon {
  font-size: 48px;
}


/* forgot password css */
.forgot-password {
  margin-top: 100px;
  padding-bottom: 50px;
}

.footer-forgot-page {
  margin-top: 100px;
}



/* copyright */
.copy-right {
  position: fixed;
  background-color: #f27e00;
  width: 100%;
  bottom: 0;
  height: 30px;
}

.copy-right-text {

  /* text-align: center */
}

.text-size {
  font-size: 15px;
}
.abcd{
  margin-left: 800px;
}