/* login page.css */
.icon-inside-input {
  position: relative;
}

.input-with-icon {
  padding-left: 40px;
}

.icon-position {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}

.login-form {
  margin-left: 100px;
}

.heading-login {
  color: #f27e00;
}

/* remove input border */
.form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  box-shadow: none;
}

.forgotpassword {
  color: black;
  text-decoration: none;
}

.login-submit {
  background-color: #f27e00;
}

/* our services */
.services-background {
  background-color: #fbe7cf;
}

.large-icon {
  font-size: 48px;
}


/* forgot password css */
.forgot-password {
  margin-top: 100px;
  padding-bottom: 50px;
}

.footer-forgot-page {
  margin-top: 100px;
}



/* copyright */
/* .text-size{
  font-size: 15px;
}

.copyright {
  background-color: #f27e00;
  height: 30px;
} */

/* copyright */
.copy-right {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* background-color: #f8f9fa;   */
  background-color: #f27e00;
  padding: 10px 0;
  z-index: 1000;
}

@media (max-width: 768px) {
  .copy-right .row {
    flex-direction: column-reverse;
  }

  .copy-right .col-lg-6 {
    text-align: center;
    margin-bottom: 10px;
  }

  .copy-right .text-size {
    font-size: 12px;
  }
}




/* responsive */

/* LoginPage.css */

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  .login-container .row {
    flex-direction: row;
    align-items: center;
  }

  .login-container .col-md-8, .login-container .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .login-form {
    margin-left: 0; 
    padding-right: 5px; 
  }

  .form-control {
    height: 30px;
     width: 160%;
 
  }
  .login-button{
     width: 300%;
  }

  .img-fluid {
    max-width: 100%; 
    height: 400px;
  }
}


