/* login page.css */
.icon-inside-input {
  position: relative;
}

.input-with-icon {
  padding-left: 40px;
}

.icon-position {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}

.login-form {
  margin-left: 100px;
}

.heading-login {
  color: #f27e00;
}

/* remove input border */
.form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  box-shadow: none;
}

.forgotpassword {
  color: black;
  text-decoration: none;
}

.login-submit {
  background-color: #f27e00;
}

/* our services */
.services-background {
  background-color: #fbe7cf;
}

.large-icon {
  font-size: 48px;
}


/* forgot password css */
.forgot-password {
  margin-top: 100px;
  padding-bottom: 50px;
}

.footer-forgot-page {
  margin-top: 100px;
}


/* copyright */
.copy-right {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f27e00;
  padding: 10px 0;
  z-index: 1000;
}


/* responsive */

/* @media (max-width: 768px) {
  .copy-right .row {
    flex-direction: column-reverse;
  }

  .copy-right .col-lg-6 {
    text-align: center;
    margin-bottom: 10px;
  }

  .copy-right .text-size {
    font-size: 12px;
  }
} */

/* @media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  .login-container .row {
    flex-direction: row;
    align-items: center;
  }

  .login-container .col-md-8,
  .login-container .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .login-form {
    margin-left: 0;
    padding-right: 5px;
  }

  .form-control {
    height: 30px;
    width: 160%;

  }
  .img-fluid {
    max-width: 100%;
    height: 400px;
  }
} */



/* Responsive adjustments */
@media (max-width: 768px) {
  .login-container .row {
    flex-direction: column;
    align-items: stretch;
  }

  .login-container .col-md-8,
  .login-container .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .login-form {
    margin: 0;
    padding: 0 10px;
  }

  .form-control {
    height: auto;
    width: 100%; 
    padding: 8px; 
  }

  .login-button {
    width: 100%;
     /* text-align: center; */
  }

  .input-with-icon {
    padding-left: 35px; 
  }

  .icon-position {
    left: 5px; 
  }

  .img-fluid {
    height: auto; 
  }
  .login-forgot-password {
    font-size: 12px; 
    /* text-align: center; */
  }
}


@media (max-width: 767px) {
  .img-fluid {
    display: none;
  }
}

