.main-paper-style{
  width: 340px;
  margin: 20px auto;
  padding: 20px;
}

.paper-style {
    padding: 20px;
    height: auto; 
    width: 280px;
    margin: 20px auto;
  } 
  /* .avatar-style {
    background-color: #1bbd7e;
  } */
  

  /* login */
  .margin-bottom {
    margin-bottom: 20px; 
  }
  .margin-bottom-less {
    margin-bottom: 10px;
}

  
  
  /* signup */
  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .margin-bottom-signup {
    margin-bottom: 20px;
}
.margin-top {
  margin-top: 30px; 
}
.header-style {
  margin: 0;
}