.paper-style {
    padding: 20px;
    height: auto;
    width: 280px;
    margin: 20px auto;
}

.header-style {
    margin: 0;
}

.btn-style {
    margin: 8px 0;
}

.avatar-style {
    background-color: #1bbd7e;
}

.helper-text {
    margin: 10px 0;
}

.margin-bottom {
    margin-bottom: 20px;
}

.margin-top {
    margin-top: 20px;
}

.form-wrapper {
    margin-top: 10px;
    text-align: center;
}
