/* .overlay {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px; 
    overflow: hidden;
} */

@media (max-width: 768px) {
    .overlay {
        left: 0 !important; 
    }
}


.overlay {
    /* position: fixed; */
    top: 0;
    left: 110px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.centered-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px; 
    margin-top: 80px;
    margin-bottom: 10px;
}

.form-header {
    margin-bottom: 20px;
    text-align: center;
}