/* fill purchase and book details */
.button-color {
  background-color: #f27e00 !important;
  border: none !important;
}

/* //purchase table */
.table-bordered-dark th,
.table-bordered-dark td {
  border: none;
  background-color: whitesmoke;
}

.dashboard-page-details {
  background-color: light;
}


/* //book details */
.main-content-book-details h1 {
  color: #343a40;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* box show */
.book-details-main {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 20px;
}

.book-details-main .form-control {
  border-radius: 4px;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
}

/* align input size */
.right-align {
  text-align: right;
}

.amount-align {
  text-align: center;
}

/* size */
.sr-size {
  width: 100px;
  text-align: center;
}

.book-name-size {
  width: 450px;
}

.quantity-size {
  width: 170px;
}

.rate-size {
  width: 170px;
}
.amount-size {
  width: 150px;
}

.back-icon {
  cursor: pointer;
  font-size: 2.5rem;
  border: 1px solid black;
  padding: 0.5rem;
}


/* remove the up-down sign for input under */
/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox
input[type=number] {
  -moz-appearance: textfield;
} */

/* percentage sign % */
.discount-container {
  display: flex;
  align-items: center;
}

.gst-container {
  display: flex;
  align-items: center;
}

/* gst and discount add % sign */
.input-with-suffix {
  display: flex;
  align-items: center;
}

.input-with-suffix span {
  margin-left: 5px;
  color: #6c757d;
}



/* input small invoice no ,date,name ledger */
@media (max-width: 576px) {
  .small-input {
    width: 100%;
  }
}


@media (max-width: 768px) {
  .sr-size,
  .book-name-size,
  .quantity-size,
  .rate-size,
  .amount-size,
  .action-align,
  .right-align,
  .amount-align {
    text-align: start;
  }

  .input-with-suffix,
  .discount-container {
    min-width: 110px;
  }
  .quantity-size {
    width: 170px;
  }
  .rate-size {
    width: 170px;
  }
  .book-name-size {
    min-width: 170px;
  }
}


/* Add box shadow */
.bg-light {
  padding: 20px; 
}
.box{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}